@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">

    <div class="card shadow-sm mt-4">
        <div class="card-body article-content">
            <h3><i class="bi bi-shield-lock me-2"></i>Overview</h3>
            <p>
                This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a contribution to our Wikipedia site.
            </p>

            <h3 class="mt-4"><i class="bi bi-person-badge me-2"></i>Personal Information We Collect</h3>
            <p>
                When you visit the site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
                Additionally, as you browse the site, we collect information about the individual web pages that you view, what websites or search terms referred you to the site, and information about how you interact with the site.
            </p>

            <h3 class="mt-4"><i class="bi bi-database-lock me-2"></i>How We Use Your Information</h3>
            <p>
                We use the information we collect to:
            </p>
            <ul>
                <li>Maintain and improve our website</li>
                <li>Process contributions and manage your account</li>
                <li>Respond to your comments, questions, and requests</li>
                <li>Send you technical notices and support messages</li>
                <li>Protect against misuse or unauthorized use of our website</li>
            </ul>

            <h3 class="mt-4"><i class="bi bi-share me-2"></i>Sharing Your Information</h3>
            <p>
                We share your Personal Information with third parties to help us use your Personal Information, as described above. We also use Google Analytics to help us understand how our users use the site.
            </p>

            <h3 class="mt-4"><i class="bi bi-pencil-square me-2"></i>Your Rights</h3>
            <p>
                You have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.
            </p>

            <h3 class="mt-4"><i class="bi bi-envelope me-2"></i>Contact Us</h3>
            <p>
                For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at privacy@example.com or by mail using the details provided below:
            </p>
            <address>
                Wikipedia Project<br>
                123 Privacy Street<br>
                City, State 12345<br>
                United States
            </address>
        </div>
    </div>

    <div class="text-end mt-4">
        <p class="text-muted">Last Updated: May 2025</p>
    </div>
</div>
